In [270]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
import pandas as pd

After having the recepie of your model defined from all the experimentation
that you have done, it is time to encapsulate that into a neat pipeline
and use columntransformers to apply your transformations to the data.

Pipelines are usually what is used as the last version of code to be deployed,
not the notebook version

In [271]:
# load data
df = pd.read_csv('data/train.csv', index_col=0)
del df['Ticket']
del df['Cabin']
del df["Name"]

# split to X, and y
X = df.iloc[:,1:]
y = df['Survived']

In [272]:
X

             Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                 3    male  22.0      1      0   7.2500        S
2                 1  female  38.0      1      0  71.2833        C
3                 3  female  26.0      0      0   7.9250        S
4                 1  female  35.0      1      0  53.1000        S
5                 3    male  35.0      0      0   8.0500        S
...             ...     ...   ...    ...    ...      ...      ...
887               2    male  27.0      0      0  13.0000        S
888               1  female  19.0      0      0  30.0000        S
889               3  female   NaN      1      2  23.4500        S
890               1    male  26.0      0      0  30.0000        C
891               3    male  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

In [273]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB

In [274]:
X.isna().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [275]:
y

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [276]:
type(X["Sex"].unique())

numpy.ndarray

In [277]:
# feature engineering for numericals
numeric_features = ["Fare"]

In [278]:
# create a sequential pipeline 
# output of one step will be input to the next 
numeric_transformer = make_pipeline(
    StandardScaler()
    )

In [279]:
# create a sequential pipeline 
# output of one step will be input to the next 
mbag_transformer = make_pipeline(
    SimpleImputer(strategy="most_frequent"), OneHotEncoder(handle_unknown="ignore")
    )

In [280]:
age_transformer = make_pipeline(
    SimpleImputer(strategy="mean"), StandardScaler()
    )

In [281]:
type(numeric_transformer)

sklearn.pipeline.Pipeline

In [282]:
# feature engineering for categorical
categorical_features = ["Pclass"]

# handle unknown means it will ignore nan's if it finds them
categorical_transformer = OneHotEncoder(handle_unknown="ignore")

In [283]:
# you can also create custom functions
# df[['last_name']]
# df.columns[0] = 'last_name'
import numpy as np
def mapping_feature(df):
    mapped=df[df.columns[0]] = df[df.columns[0]].map({'female': 1, 'male': 0}).astype(int)
    return mapped.values.reshape(-1, 1)

In [284]:
mapping_feature(df[["Sex"]])

C:\Users\Master\AppData\Local\Temp/ipykernel_14528/3669140483.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mapped=df[df.columns[0]] = df[df.columns[0]].map({'female': 1, 'male': 0}).astype(int)

array([[0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0]])

In [285]:
# pre-process transformations
# notice here that we include a pipeline for the numeric transformations

# Columns of the original feature matrix that are not specified are dropped 
# from the resulting transformed feature matrix, unless specified in the 
# passthrough keyword

preprocessor = ColumnTransformer(
    transformers=[
        ("Age", age_transformer, ["Age"]),
        ("Embarked", mbag_transformer, ["Embarked"]),
        ("num", numeric_transformer, ["Fare"]),
        ("cat", categorical_transformer, ["Pclass"]),
        ('name', FunctionTransformer(mapping_feature), ['Sex'])
        
    ],
    remainder='passthrough')

In [294]:
"""
preprocessor.fit(X)                    # DataFrame with titanic data
Xtrain_fe = preprocessor.transform(X)  # use this to train your model
"""

'\npreprocessor.fit(X)                    # DataFrame with titanic data\nXtrain_fe = preprocessor.transform(X)  # use this to train your model\n'

In [295]:
Xtrain_fe

'Xtrain_fe'

In [288]:
type(Xtrain_fe)

numpy.ndarray

In [289]:
df_transformed=pd.DataFrame(Xtrain_fe)
df_transformed

           0    1    2    3         4    5    6    7    8    9    10
0   -0.592481  0.0  0.0  1.0 -0.502445  0.0  0.0  1.0  0.0  1.0  0.0
1    0.638789  1.0  0.0  0.0  0.786845  1.0  0.0  0.0  1.0  1.0  0.0
2   -0.284663  0.0  0.0  1.0 -0.488854  0.0  0.0  1.0  1.0  0.0  0.0
3    0.407926  0.0  0.0  1.0  0.420730  1.0  0.0  0.0  1.0  1.0  0.0
4    0.407926  0.0  0.0  1.0 -0.486337  0.0  0.0  1.0  0.0  0.0  0.0
..        ...  ...  ...  ...       ...  ...  ...  ...  ...  ...  ...
886 -0.207709  0.0  0.0  1.0 -0.386671  0.0  1.0  0.0  0.0  0.0  0.0
887 -0.823344  0.0  0.0  1.0 -0.044381  1.0  0.0  0.0  1.0  0.0  0.0
888  0.000000  0.0  0.0  1.0 -0.176263  0.0  0.0  1.0  1.0  1.0  2.0
889 -0.284663  1.0  0.0  0.0 -0.044381  1.0  0.0  0.0  0.0  0.0  0.0
890  0.177063  0.0  1.0  0.0 -0.492378  0.0  0.0  1.0  0.0  0.0  0.0

[891 rows x 11 columns]

In [290]:
import warnings
import sklearn
import pandas as pd
def get_feature_names(column_transformer):
    """Get feature names from all transformers.
    Returns
    -------
    feature_names : list of strings
        Names of the features produced by transform.
    """
    # Remove the internal helper function
    #check_is_fitted(column_transformer)
    
    # Turn loopkup into function for better handling with pipeline later
    def get_names(trans):
        # >> Original get_feature_names() method
        if trans == 'drop' or (
                hasattr(column, '__len__') and not len(column)):
            return []
        if trans == 'passthrough':
            if hasattr(column_transformer, '_df_columns'):
                if ((not isinstance(column, slice))
                        and all(isinstance(col, str) for col in column)):
                    return column
                else:
                    return column_transformer._df_columns[column]
            else:
                indices = np.arange(column_transformer._n_features)
                return ['x%d' % i for i in indices[column]]
        if not hasattr(trans, 'get_feature_names'):
        # >>> Change: Return input column names if no method avaiable
            # Turn error into a warning
            warnings.warn("Transformer %s (type %s) does not "
                                 "provide get_feature_names. "
                                 "Will return input column names if available"
                                 % (str(name), type(trans).__name__))
            # For transformers without a get_features_names method, use the input
            # names to the column transformer
            if column is None:
                return []
            else:
                return [name + "__" + f for f in column]

        return [name + "__" + f for f in trans.get_feature_names()]
    
    ### Start of processing
    feature_names = []
    
    # Allow transformers to be pipelines. Pipeline steps are named differently, so preprocessing is needed
    if type(column_transformer) == sklearn.pipeline.Pipeline:
        l_transformers = [(name, trans, None, None) for step, name, trans in column_transformer._iter()]
    else:
        # For column transformers, follow the original method
        l_transformers = list(column_transformer._iter(fitted=True))
    
    
    for name, trans, column, _ in l_transformers: 
        if type(trans) == sklearn.pipeline.Pipeline:
            # Recursive call on pipeline
            _names = get_feature_names(trans)
            # if pipeline has no transformer that returns names
            if len(_names)==0:
                _names = [name + "__" + f for f in column]
            feature_names.extend(_names)
        else:
            feature_names.extend(get_names(trans))
    
    return feature_names

In [291]:
get_feature_names(preprocessor)

C:\Users\Master\AppData\Local\Temp/ipykernel_14528/1483046653.py:33: UserWarning: Transformer simpleimputer (type SimpleImputer) does not provide get_feature_names. Will return input column names if available
  warnings.warn("Transformer %s (type %s) does not "
C:\Users\Master\AppData\Local\Temp/ipykernel_14528/1483046653.py:33: UserWarning: Transformer standardscaler (type StandardScaler) does not provide get_feature_names. Will return input column names if available
  warnings.warn("Transformer %s (type %s) does not "
C:\Users\Master\AppData\Local\Temp/ipykernel_14528/1483046653.py:33: UserWarning: Transformer name (type FunctionTransformer) does not provide get_feature_names. Will return input column names if available
  warnings.warn("Transformer %s (type %s) does not "

['Age__Age',
 'onehotencoder__x0_C',
 'onehotencoder__x0_Q',
 'onehotencoder__x0_S',
 'num__Fare',
 'cat__x0_1',
 'cat__x0_2',
 'cat__x0_3',
 'name__Sex',
 'SibSp',
 'Parch']

In [292]:
df_transformed=pd.DataFrame(Xtrain_fe, columns=get_feature_names(preprocessor))
df_transformed

C:\Users\Master\AppData\Local\Temp/ipykernel_14528/1483046653.py:33: UserWarning: Transformer simpleimputer (type SimpleImputer) does not provide get_feature_names. Will return input column names if available
  warnings.warn("Transformer %s (type %s) does not "
C:\Users\Master\AppData\Local\Temp/ipykernel_14528/1483046653.py:33: UserWarning: Transformer standardscaler (type StandardScaler) does not provide get_feature_names. Will return input column names if available
  warnings.warn("Transformer %s (type %s) does not "
C:\Users\Master\AppData\Local\Temp/ipykernel_14528/1483046653.py:33: UserWarning: Transformer name (type FunctionTransformer) does not provide get_feature_names. Will return input column names if available
  warnings.warn("Transformer %s (type %s) does not "

,Age__Age,onehotencoder__x0_C,onehotencoder__x0_Q,onehotencoder__x0_S,num__Fare,cat__x0_1,cat__x0_2,cat__x0_3,name__Sex,SibSp,Parch
0,-0.592481,0.0,0.0,1.0,-0.502445,0.0,0.0,1.0,0.0,1.0,0.0
1,0.638789,1.0,0.0,0.0,0.786845,1.0,0.0,0.0,1.0,1.0,0.0
2,-0.284663,0.0,0.0,1.0,-0.488854,0.0,0.0,1.0,1.0,0.0,0.0
3,0.407926,0.0,0.0,1.0,0.420730,1.0,0.0,0.0,1.0,1.0,0.0
4,0.407926,0.0,0.0,1.0,-0.486337,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
886,-0.207709,0.0,0.0,1.0,-0.386671,0.0,1.0,0.0,0.0,0.0,0.0
887,-0.823344,0.0,0.0,1.0,-0.044381,1.0,0.0,0.0,1.0,0.0,0.0
888,0.000000,0.0,0.0,1.0,-0.176263,0.0,0.0,1.0,1.0,1.0,2.0
889,-0.284663,1.0,0.0,0.0,-0.044381,1.0,0.0,0.0,0.0,0.0,0.0
890,0.177063,0.0,1.0,0.0,-0.492378,0.0,0.0,1.0,0.0,0.0,0.0

In [293]:
# create the model pipeline
pipeline2 = make_pipeline(preprocessor, LogisticRegression(max_iter=300))

# split data to train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state= 42)

####
# fit the pipeline to training data
pipeline2.fit(X_train, y_train)
###
# calculate the accuracy score from test data
print("model score: %.3f" % pipeline2.score(X_test, y_test))

# get predictions from the pipeline
print(pipeline2.predict(X_test))

# get prediction probabilities from the pipeline 
print(pipeline2.predict_proba(X_test)[:, 1])

model score: 0.790
[0 0 0 1 1 1 1 0 1 1 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 1 0 0 0
 1 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 1 1 0 1 1 0 0 1 0 0 0 1 1 1 1 1
 0 0 1 1 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1
 0 1 0 1 0 0 0 1 0 0 1 1 0 0 0 1 1 1 0 1 0 0 1 0 1 1 0 0 1 0 1 0 0 1 1 0 0
 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 0 1 1 0 0 0 0 0 1
 0 0 0 0 1 0 0 0 0 1 1 1 0 1 0 0 1 1 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 1 0 0 1
 0 0 0 1 0 1 1 1 0 1 0 1 0 1 1 1 1 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0
 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 0 1 0 0 0 0 1 1 0 1 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0]
[0.12290185 0.27717076 0.11373848 0.90754927 0.75424818 0.89647558
 0.70479943 0.08242342 0.77505428 0.8741105  0.25552678 0.06207448
 0.36944229 0.16029408 0.25217259 0.89820624 0.22979018 0.70486233
 0.30184131 0.25033227 0.1030605  0.30258193 0.5731066  0.1142397
 0.09242528 0.06460322 0.42058509 0.27908689 0.07536675 0.553796
 0.11654024 0.61399485 0.49671804 0.56518495 0.11947535 0.14204104
 0.34633454 0.70479943 0.92699443 0.09033207 0.27937226 0.07190327
 0.09038046 0.15408934 0.60438472 0.08205609 0.11664345 0.10612149
 0.10276241 0.33086635 0.73903224 0.75714511 0.03883247 0.42323556
 0.06362061 0.89744414 0.27167283 0.93755531 0.82407934 0.76037369
 0.11092813 0.88485659 0.8181369  0.33021613 0.15408934 0.7102652
 0.39128609 0.09097279 0.16021445 0.86547658 0.81034649 0.95421351
 0.51871759 0.89401662 0.1056261  0.06188252 0.69776787 0.93210365
 0.80703461 0.44363978 0.05023609 0.84155254 0.90894554 0.15408312
 0.32064339 0.25101537 0.92923858 0.93341665 0.25983265 0.09012969
 0.1284486  0.42264994 0.17385579 0.15407899 0.09033207 0.09327548
 0.20144497 0.06048614 0.81548931 0.09565093 0.15902362 0.07796283
 0.94383566 0.07219321 0.08765853 0.07983581 0.75311855 0.24078557
 0.08921776 0.42363874 0.84717833 0.11209745 0.92622878 0.29084982
 0.51011601 0.11447973 0.24050836 0.39851208 0.82837671 0.32624953
 0.20648797 0.93456896 0.70697947 0.43332009 0.10031313 0.45344065
 0.78943904 0.57882519 0.67076296 0.11103171 0.70490204 0.12290185
 0.27863355 0.72143441 0.32955114 0.75139207 0.94614643 0.09094122
 0.06525206 0.58906907 0.11117622 0.74306756 0.29605445 0.21117166
 0.53740387 0.77836715 0.28467622 0.12730721 0.93987615 0.06370169
 0.16374788 0.10291943 0.1193733  0.66374573 0.09038046 0.0900671
 0.10678064 0.70482921 0.78293871 0.61426749 0.18595005 0.33074406
 0.23687373 0.92439969 0.15444212 0.27157572 0.32352078 0.84711035
 0.10827853 0.07794225 0.54447008 0.85441199 0.29092857 0.76278521
 0.12203204 0.16297177 0.33761266 0.88092057 0.65379391 0.24137904
 0.325613   0.08436528 0.07785242 0.44298243 0.70136009 0.24254596
 0.39782395 0.09033207 0.33835021 0.78924913 0.0577284  0.26756965
 0.09740197 0.0914871  0.73931178 0.84551924 0.95566992 0.26272884
 0.88804547 0.40923476 0.03948043 0.56136864 0.89320963 0.34052256
 0.20102514 0.68592901 0.0914818  0.26897677 0.16677369 0.05310026
 0.6287125  0.08852226 0.91391238 0.1540769  0.36944229 0.08540141
 0.81684937 0.35380471 0.8497587  0.09012969 0.09033207 0.86025773
 0.09025306 0.33409035 0.10024425 0.83336742 0.10814038 0.52230339
 0.83399727 0.58767288 0.22198653 0.95045506 0.15408934 0.71846792
 0.09057287 0.61401747 0.76296419 0.64165886 0.95074798 0.2569003
 0.11347251 0.75346879 0.16297177 0.62781267 0.14389556 0.09380821
 0.09038046 0.10564111 0.10804072 0.21132107 0.56494914 0.22016378
 0.15408934 0.19230145 0.20203135 0.09534729 0.10833538 0.77067212
 0.25037707 0.81399231 0.92734798 0.36612492 0.79828832 0.09590441
 0.30870578 0.15564125 0.12266229 0.33864076 0.49775267 0.09033207
 0.66759881 0.18286453 0.16947731 0.36176077 0.78837441 0.09102805
 0.11957578 0.44573234 0.90363503 0.23687373 0.06170852 0.1134022
 0.88332903 0.05294369 0.48889741 0.07410413 0.70490204 0.06200569
 0.38088671 0.12361512 0.11644366 0.11788901 0.82301376 0.68005031
 0.11098462 0.21574211 0.15798531 0.38588085 0.14543944 0.61649505
 0.47622283 0.35723458 0.29182236 0.31750731 0.12540826 0.48670516
 0.07475721 0.38858948 0.17465906 0.31957901 0.35085094 0.81940189
 0.44461264 0.07240978 0.06207448 0.86883831 0.55714972 0.77547283
 0.35828604 0.50908426 0.33792303 0.08440215 0.19503425 0.11093755
 0.74837431 0.60758957 0.0843444  0.70479943 0.46860302 0.15408934
 0.17975938 0.16778491 0.50047947 0.31360484 0.17734242 0.35642671
 0.86196441 0.7800734  0.15015425 0.17844017 0.09490354 0.11378659
 0.05291939 0.09040007 0.15412876 0.09033207 0.84996069 0.09806629
 0.26198576 0.10678064 0.89577072 0.09063185 0.04278872 0.36717622
 0.29743701 0.12266229 0.23538124]

In [297]:
X_train

             Pclass     Sex   Age  SibSp  Parch      Fare Embarked
PassengerId
571               2    male  62.0      0      0   10.5000        S
788               3    male   8.0      4      1   29.1250        Q
75                3    male  32.0      0      0   56.4958        S
114               3  female  20.0      1      0    9.8250        S
636               2  female  28.0      0      0   13.0000        S
...             ...     ...   ...    ...    ...       ...      ...
107               3  female  21.0      0      0    7.6500        S
271               1    male   NaN      0      0   31.0000        S
861               3    male  41.0      2      0   14.1083        S
436               1  female  14.0      1      2  120.0000        S
103               1    male  21.0      0      1   77.2875        S

[534 rows x 7 columns]